<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    我是主页
    <a href="./test">简单的多页</a>
<<<<<<< HEAD
    <button id="cl">点我发送请求</button>
=======
    <span class="root">測試</span>
>>>>>>> cb8641e0f3701d0b428077f9b7701c7804f6cbdb
</body>
</html>